[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pymongo = "*"
motor = "*"
pydantic = "*"
email-validator = "*"
recipe-scrapers = "*"
openai = "*"

[dev-packages]
uvicorn = "*"
pytest = "*"
httpx = "*"
trio = "*"

[requires]
python_version = "3.10"
